// Color Variables
$primary-color: #e2001a;
$secondary-color: #13235b;
$text-color: #0e195b;
$text-color-light: #8499b1;
$text-color-lighter: #c7d6d5;
$body-color: #fff;
$border-color: #f2f2f2;
$black: #000;
$white: #fff;
$light: #f2f2f2;
$dark: #0e0e0e;

// Font Variables
$primary-font: 'Asul', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$icon-font: 'themify';